.warring_container {
	background-image: url(../img/warring/bg.png);
	background-size: 100% 100%;
	flex-direction: column;	
	gap: 4vw;
	z-index: 100;
}
.warring_container>.warring_text{
	position: absolute;
	left: 22vw;
	top: 64vw;
	width: 55vw;
	font-size: 4vw;
	font-family: "黑体";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6vw;
	line-height: 5.6vw;
}

.warring_container>.warring_text>p {
	opacity: 0;
	animation: warring_text 1.5s linear var(--i) 1 normal forwards;
}


.warring_yanhua1 {
	top: 2vw;
	left: 10vw;
	width: 15vw;
}
.warring_yanhua2 {
	top: 2vw;
	left: 50vw;
	width: 13vw;
}

.warring_yanhua3 {
	top: 60vw;
	left: 3vw;	
	width: 15vw;
}
.warring_yanhua4 {
	top: 70vw;
	right: 0vw;
	width: 10vw;
}
.warring_yanhua5 {
	top: 140vw;
	left: 0vw;
	width: 12vw;
}


.warring_btn {
	position: absolute;
	background-image: url(../img/index/button.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: "微软雅黑";
	color: #ffe9be;
	font-size: 5vw;
	line-height: 14vw;
	padding: 4vw 11vw;
	bottom: 20vw;
	left: 50%;
	transform: translateX(-50%);
	animation: left_move 1s linear .5s 1 normal forwards;
}
