@font-face {
  font-family: "iconfont"; /* Project id 4326365 */
  src: url('iconfont.woff2?t=1700056872920') format('woff2'),
       url('iconfont.woff?t=1700056872920') format('woff'),
       url('iconfont.ttf?t=1700056872920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e601";
}

.icon-fanhui2:before {
  content: "\e602";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-edit-1-copy:before {
  content: "\e612";
}

.icon-shangchuandaochu:before {
  content: "\e8c6";
}

.icon-fanhui1:before {
  content: "\e624";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-yunduanxiazai:before {
  content: "\ec1d";
}

.icon-yunduanshangchuan:before {
  content: "\ec1e";
}

.icon-xiugai:before {
  content: "\e7cd";
}

.icon-biaoqian_o:before {
  content: "\eb47";
}

.icon-tupianbizhi:before {
  content: "\e6c6";
}

.icon-jianjie:before {
  content: "\e65e";
}

.icon-anquanzhongxin89:before {
  content: "\e723";
}

.icon-xiugaiziliao:before {
  content: "\e7e0";
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

