body {
	width:100%;
	min-width:1200px;
	height:100%;
	font-family:"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif";
	font-size:12px;
	color:#444;
	line-height:24px;
	-webkit-font-smoothing:subpixel-antialiased!important
}
a {
	outline:0;
	text-decoration:none;
	color:inherit
}
a:hover {
	outline:0;
	text-decoration:none;
	color:#2277da
}
a:active {
	outline:0;
	text-decoration:none
}
a:focus {
	outline:0;
	text-decoration:none
}
iframe:hover {
	border:1px solid #376eae
}
* {
	margin:0;
	padding:0
}
li {
	list-style:none
}
.clear {
	clear:both
}


.content {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.content h1{ text-align: center; font-size: 40px; line-height: 60px;}
.content h3{ text-align: center; font-size: 20px; line-height: 40px;}
.cloudbox {
	width:100%;
	height:550px;
    margin-top:56px;
}
.cloud {
	float:left;
	width:257px;
	height:481px;
	overflow:hidden;
	border:1px solid #ccc;
	transition:all .3s cubic-bezier(0.4,0,0.2,1),z-index 0s .15s;
	margin-left:-1px;
	position:relative
}
.cloud .cloudt1 {
	text-align:center;
	height:101px;
	background-color:#f2f2f2;
	transition:all .3s cubic-bezier(0.4,0,0.2,1),z-index 0s .12s
}
.cloud .cloudt1 .tub {
	display:inline-block;
	width:44px;
	height:30px;
	margin:10px 0 2px 0
}
.cloud .cloudt1 h3 {
	font-size:16px;
	line-height:30px;
	margin-top:5px;
}
.cloud .cloudt1 h4 {
	font-size:12px;
	color:#999
}
.cloud.active {
	width:416px;
	height:534px;
	border:1px solid #2277da;
	margin-top:-26px;
	box-shadow:0 0 5px rgba(34,119,218,0.5);
	z-index:10
}
.cloud.active .cloudt1 {
	height:115px;
	background-color:#2277da;
	color:#fff
}
.cloud.active .cloudt1 h4 {
	color:#fff
}
.cloud.active .cloudt1 .tub {
	margin-top:19px
}
.cloud .cloudt1.a .tub {
	background:url("../images/yunbag.png") no-repeat -2px -161px
}
.cloud.active .cloudt1.a .tub {
	background:url("../images/yunbag.png") no-repeat -53px -161px
}
.cloud .cloudt1.b .tub {
	background:url("../images/yunbag.png") no-repeat -2px -60px
}
.cloud.active .cloudt1.b .tub {
	background:url("../images/yunbag.png") no-repeat -53px -60px
}
.cloud .cloudt1.c .tub {
	background:url("../images/yunbag.png") no-repeat -2px -10px
}
.cloud.active .cloudt1.c .tub {
	background:url("../images/yunbag.png") no-repeat -53px -10px
}
.cloud .cloudt1.d .tub {
	background:url("../images/yunbag.png") no-repeat -2px -110.5px
}
.cloud.active .cloudt1.d .tub {
	background:url("../images/yunbag.png") no-repeat -53px -110.5px
}
.cloud .cloudt2 {
	margin-left:30px;
	position:absolute;
	transition:all .12s cubic-bezier(0.4,0,0.2,1) .18s
}
.cloud .cloudt2 .tit1 {
	font-size:14px;
	line-height:28px;
	margin-top:20px
}
.cloud .cloudt2 .tit2 {
	color:#999
}
.cloud.active .cloudt2 {
	opacity:0;
	filter:alpha(opacity=0)
}
.cloud.active .cloudt3 {
	opacity:1;
	filter:alpha(opacity=100)
}
.cloud .cloudt3 {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	left:20px;
	transition:all .12s cubic-bezier(0.4,0,0.2,1) .18s
}
.cloud .cloudt3 h5 {
	font-size:14px;
	line-height:28px;
	margin-top:20px
}
.cloud .cloudt3 p {
	color:#999;
	line-height:26px
}
.cloud .cloudt3 p span {
	color:#ff7b00;
	font-size:20px
}
.cloud .cloudt3 .cld1 {
	float:left;
	width:276px
}
.cloud .cloudt3 a.rt {
	margin:62px 20px 0 0
}
.btn {
	display:inline-block;
	height:32px;
	line-height:32px;
	padding:0 16px;
	font-size:14px;
	color:#2277da;
	border:1px solid #2277da;
	border-radius:3px
}
.btn:hover {
	background-color:#2277da;
	color:#fff
}
.cloud .cloudt3 .cer {
	transition:all .12s cubic-bezier(0.4,0,0.2,1) .18s
}
.cloud .cloudt3 .cer ul {
	float:left;
	width:48%;
	margin-top:35px
}
.cloud .cloudt3 .cer ul .tlt1 {
	font-size:14px;
	line-height:28px
}
.cloud .cloudt3 .cer ul .tlt2 {
	color:#999
}
.cloud .cloudt3 .cer ul a {
	color:#ff4242
}
.cloud .cloudt3 .cer ul a:hover {
	text-decoration:underline
}
.cloud .cloudt3 .cer ul:hover .tlt1 {
	color:#2277da
}