.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}

body {
    font-family: "Microsoft Yahei";
    min-width: 1000px;
    position: relative;
    overflow-x: hidden;
    background: rgba(249,249,249,1);

}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.clear-overflow {
    overflow: visible;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: white;
    color: #CACACA;
    font-size: 16px;
    min-width: 1268px;
    z-index: 105;
    padding: 0 40px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 8px 15px rgba(150,153,158,0.2);
}

.header.active{
    box-shadow: 0 1px 0 0 #F5F5F8;
}

.header .h-logo {
    position: relative;
    height: 100%;
    margin-right:15px;
    float: left;
}
.header .h-logo:hover .h-logo-hover {
    display: block;
}
.header .h-logo .h-logo-hover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 251px;
    height: 48px;
    background: rgba(0, 87, 255, .5);
    border: 1px dashed rgba(151,151,151,1);
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    border-radius: 24px;
    color: white;
}
.header .h-logo:hover .h-logo-img {
    display: block;
}
.header .h-logo .h-logo-img {
    display: none;
    position: absolute;
    left: 96px;
    top:0;
    width: 30px;
    height: 35px;
    margin: 0;
}
.header .h-logo a {
    display: inline-block;
    height: 100%;
    /* width: 100%; */
    float: left;
}
.header .h-logo a > * {
    /*vertical-align: middle;*/
    float: left;
}

.header .h-logo img {
    margin-top: 18px;
    width: 140px;
    height: 37px;
}
.header .h-logo span {
    position: relative;
    color: #000000;
    line-height: 70px;
    margin-left: 20px;
}
.header .h-logo span:after {
    position: absolute;
    left: -10px;
    top: 32px;
    content: " ";
    height: 4px;
    width: 4px;
    background: #000000;
    border-radius: 50%;
}

.h-nav-item{
    position: relative;
    color: #171718;
    height:100%;
    float: left;
}

.h-nav-item.h-template-center{
    height:auto;
}

.h-nav-item .icon{
    margin-top:2px;
    margin-right:5px;
}

.h-template-center .iconfont{
    -webkit-text-stroke-width: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120.63deg, #98A1B2 -0.51%, #636D7F 100.5%);
    font-weight: normal;
    margin-right: 3px;
    margin-top: 2px;
}

.h-template-center:hover .iconfont{
    background: transparent;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
    color:currentColor;
}

.h-nav-item a{
    color:#171718;
}
.h-nav-item > a{
    white-space: nowrap;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0 15px;
}

.h-nav-item:hover > a{
    color: #0057FF;
}

.h-info{
    margin-right:0;
    margin-left:15px;
    float: right;
}

.h-info .h-profile{
    display:flex;
    justify-content: center;
    align-items: center;
}

.h-info .h-profile .vip-permanent{
    order:2;
}
.h-info a.h-login {
    color: #0057ff;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #0057FF;
    height:40px;
    margin-top:14px;
}

.h-info a.h-login:hover{
    background: #0057FF;
    color:#FFF;
}

.h-register {
    color: #CACACA;
    margin-top: 23px;
}
.h-search{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position:relative;
    height:40px;
    padding:0;
    min-width:618px;
    margin-left:15px;
    margin-right:15px;
    margin-top: 15px;
}

.h-search input,.h-search input:active,.h-search input:focus,.h-search input:visited{
    flex-grow: 1;
    border:0;
    outline: none;
}

.h-search .clear-input{
    position:absolute;
    width:20px;
    height:20px;
    right:100px;
    font-size:20px;
    color:rgba(23, 23, 24, 0.3);
    cursor:pointer;
    display:none;
}
.h-search .clear-input.active{
    display:block;
}

.h-search .clear-input .icon{
    vertical-align:0;
    transform: translateY(-4px);
    font-size: 16px;
}


.h-search .search-button{
    width:90px;
    background: #0057FF;
    border-radius: 0 4px 4px 0;
    color:#FFFFFF;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-search .search-button .icon{
    font-size:20px;
}

.h-search .search-button:hover{
    cursor:pointer;
    opacity: 0.8;
}

.h-search input{
    background: #F1F3F5;
    height:100%;
    border-radius: 4px 0 0 4px;
    padding-left:116px;
    color: #171718;
    font-size:15px;
}

.h-search input:hover{
    box-shadow:inset 0 0 0 2px #0057FF;
    background: #FFF;
}

.h-search input::-webkit-input-placeholder {
    font-size: 15px;
}

.h-search input:focus{
    box-shadow:inset 0 0 0 2px #0057FF;
    background: #FFF;
}

.h-search .h-search-wrap.active{
    display:block;
}

.h-search .h-search-cata {
    position: absolute;
    height:100%;
    padding-left:20px;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    text-align: center;
    cursor: pointer;
    white-space:nowrap;
    display:flex;
    justify-content: center;
    align-items: center;
}
.h-search .h-search-cata > span .iconfont {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    transform: scale(0.6);

}

.h-search .h-search-cata .h-search-cata-hover {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 116px;
    background: white;
    border-radius: 4px;
    padding: 12px 0;
    box-shadow: 0 8px 15px rgba(47, 63, 95, 0.1);
}
.h-search .h-search-cata:hover .h-search-cata-hover {
    display: block;
}
.h-search .h-search-cata .h-search-cata-hover.active{
    display:block;
}

.h-search .h-search-cata .h-search-cata-hover .iconfont{
    -webkit-text-stroke-width: 0;
    font-weight:normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-search .h-search-cata .h-search-cata-hover .icon-icon_all{
    background-image: linear-gradient(120.63deg, #98A1B2 -0.51%, #636D7F 100.5%);
}
.h-search .h-search-cata .h-search-cata-hover .icon-icon_picture{
    background-image: linear-gradient(136.83deg, #35B6FF -1.04%, #0A89FF 100.79%);
}
.h-search .h-search-cata .h-search-cata-hover .icon-icon_gif{
    background-image: linear-gradient(180deg, #FBB024 0%, #FD991C 100%);
}
.h-search .h-search-cata .h-search-cata-hover .icon-icon_video{
    background-image: linear-gradient(180deg, #A46DFF 0%, #8067FF 100%);
}
.h-search .h-search-cata .h-search-cata-hover .icon-icon_photograph{
    background-image: linear-gradient(180deg, #43DFBA 0%, #0FC79B 100%), linear-gradient(180deg, #FBB024 0%, #FD991C 100%);
}
.h-search .h-search-cata .h-search-cata-hover li {
    width: 100%;
    height: 40px;
    padding-left:11px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.h-search .h-search-cata .h-search-cata-hover li:hover {
    background: #F6F7F9;
}
.h-search .h-search-cata .h-search-cata-hover li:hover a{
    color: #005EFF;
}
.h-search .h-search-cata .h-search-cata-hover li a {
    color: #171717;
}

.h-search .h-search-cata .h-search-cata-hover li a .icon.quan{
    color:#737C8E;
}

.h-search .h-search-cata .h-search-cata-hover li a .icon.tu{
    color:#1F9FFF;
}
.h-search .h-search-cata .h-search-cata-hover li a .icon.gi{
    color:#FD9F1E;
}
.h-search .h-search-cata .h-search-cata-hover li a .icon.shi{
    color:#8869FF;
}
.h-search .h-search-cata .h-search-cata-hover li a .icon.she{
    color:#11C89C;
}

.h-search .h-search-cata > span {
    color: #96999E;
    font-size: 15px;
    line-height: 37px;
}

.h-search .h-search-cata:hover > span .iconfont{
    transform: rotateZ(180deg) scale(0.6);
}

.h-search-recommend{
    display:none;
}

.h-search-recommend.active{
    display:block;
}

.h-search-recommend .recommend-dropdown .recommend-dropdown-item{
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:34px;
    color:#171718;
    font-size: 14px;
    padding-left:16px;
    background: #FFF;
    cursor:pointer;
}
.h-search-recommend .recommend-dropdown .recommend-dropdown-item a{
    width:100%;
    color:currentColor;
}
.h-search-recommend .recommend-dropdown .recommend-dropdown-item:nth-child(1)::after,
.h-search-recommend .recommend-dropdown .recommend-dropdown-item:nth-child(2)::after,
.h-search-recommend .recommend-dropdown .recommend-dropdown-item:nth-child(3)::after{
    content:'';
    width:16px;
    height:16px;
    padding-left:7px;
    background:url("../images/icon_hot.svg")  no-repeat center;
    background-size:contain;
}

.h-search-recommend .recommend-dropdown .recommend-dropdown-item:hover{
    background: #F6F7F9;
    color: #0057FF;
}

.h-search-history,
.h-search-hot,
.h-search-topic{
    max-width:738px;
    min-width:578px;
    margin-left:20px;
    margin-right:20px;
}
.h-search-history{
    margin-top:20px;
}
.h-search-hot{
    margin-top:16px;
}
.h-search-topic{
    margin-top:10px;
}

.h-search-history .small-title,
.h-search-hot .small-title,
.h-search-topic .small-title{
    color: rgba(23, 23, 24, 0.8);
    margin-bottom:10px;
    position:relative;
}

.h-search-history .clear-record,
.h-search-hot .see-more,
.h-search-topic .see-more{
    position:absolute;
    top:50%;
    right:0;
    transform: translate(0,-50%);
    font-size: 12px;
    color: rgba(23, 23, 24, 0.4);
    cursor:pointer;
}

.h-search-history .clear-record:hover,
.h-search-hot .see-more:hover,
.h-search-topic .see-more:hover{
    color:#0057FF;
}

.h-search-list{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    margin-top:10px;
    margin-left:-4px;
    margin-right:-4px;
    max-height:46px;
    overflow: hidden;
}

.h-search-list .h-search-list-item{
    margin:4px;
    padding:0.5rem 0.8rem;
    color:#171718;
    font-size: 14px;
    cursor:pointer;
    flex-wrap: wrap;
    background: #F7F8FB;
    border-radius: 2px;
}

.h-search-list .h-search-list-item:hover{
    background: #EDEEF2;
}

.h-hot-list{
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    margin-right:-20px;
}

.h-hot-list .h-hot-list-item{
    background:#F7F8FB;
    width: 177px;
    height: 40px;
    margin:0 10px 10px 0;
    border-radius: 4px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    padding-left:10px;
    overflow:hidden;
    cursor:pointer;
}

.h-hot-list .h-hot-list-item:hover{
    background: #EDEEF2;
}

.h-topic-list .h-topic-list-item{
    background:rgba(0,0,0,0.6);
    width: 177px;
    height: 71px;
    margin:0 10px 10px 0;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

.h-topic-list .h-topic-list-item:hover .h-topic-img-wrapper{
    transform: scale(1.2);
    transition: transform 0.3s;
}








.h-template-popover{
    position:absolute;
    display:none;
    z-index:10;
    top:100%;
    left:0;
    box-shadow: 0 8px 15px rgba(47, 63, 95, 0.1);
    padding-top:1px;
}



.temp-tab{
    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width:1000px;
    height:520px;
}
.temp-tab .temp-tab-nav{
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    min-width:140px;
    background: #F9FBFF;
    border-right:#E0EBFF;
}
.temp-tab .temp-tab-nav-item{
    padding-left:16px;
    padding-top:12px;
    height:70px;
    background: #F9FBFF;
}

.temp-tab .temp-tab-nav-item .select-title{
    color: #243054;
    font-weight:bold;
    font-size: 16px;
    margin-bottom:6px;
}
.temp-tab .temp-tab-nav-item .select-description{
    color: #6F7C97;
    font-size: 12px;
}

.temp-tab .temp-tab-nav-item .select-description .des1:hover,
.temp-tab .temp-tab-nav-item .select-description .des2:hover{
    color: #0057FF;
}
.temp-tab .temp-tab-nav-item .select-description .des1{
    padding-right:6px;
    border-right:1px solid #F1F3F5;
}

.temp-tab .temp-tab-nav-item .select-description .des2{
    margin-left:6px;
}


.temp-tab .temp-tab-nav-item.active,
.temp-tab .temp-tab-nav-item:hover{
    background: #FFFFFF;
    box-shadow: inset 3px 0 0  -1px #0057FF,1px 0 0 0 #FFF;
}
.temp-tab .temp-tab-nav-item:hover {
    cursor:pointer;
}

.temp-tab .temp-tab-nav-item.active .select-title,
.temp-tab .temp-tab-nav-item:hover .select-title{
    color:#0057FF;
}
.temp-tab .temp-tab-panel{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: #FFFFFF;

}
.temp-tab .temp-tab-panel-item{
    display:none;
    flex-grow: 1;
    height:100%;
    background: #FFF;
    padding:10px 30px 0 30px;
    overflow:auto;
}

.temp-tab .temp-tab-panel-item::-webkit-scrollbar {
    width: 6px;
    height:200px;
}
.temp-tab .temp-tab-panel-item::-webkit-scrollbar-thumb {
    width:6px;
    background:#DFE0E3;
    border-radius:3px;
}
.temp-tab .temp-tab-panel-item::-webkit-scrollbar-track {
    border-radius: 10px;
}

.temp-tab .temp-tab-panel-item.active{
    display:block;
}

.h-tab-panel-category{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
}
.h-tab-panel-category .category-item{
    padding-top:27px;
    width:50%;
}
.h-tab-panel-category .small-title{
    color: #243054;
    font-size: 16px;
    font-weight:bold;
}

.h-tab-panel-category .small-title>a{
    display:inline-block;
    padding-bottom:20px;
    color:currentColor;
}

.h-tab-panel-category .small-title>a:hover{
    color:#0057FF;
}

.h-tab-panel-category .small-title .icon{
    font-size:20px;
}

.h-tab-panel-category .small-title .icon.shou{
    color:#1797FF;
}
.h-tab-panel-category .small-title .icon.xin{
    color:#8E69FF;
}
.h-tab-panel-category .small-title .icon.guang{
    color:#FBAB22;
}
.h-tab-panel-category .small-title .icon.dian{
    color:#FF5F57;
}
.h-tab-panel-category .small-title .icon.lou{
    color:#21A1FF;
}
.h-tab-panel-category .small-title .icon.gi{
    color:#FC9F1E;
}
.h-tab-panel-category .small-title .icon.shi{
    color:#8E69FF;
}
.h-tab-panel-category .small-title .icon.she{
    color:#21CFA5;
}

.h-tab-panel-category .small-title .iconfont{
    margin-right:4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    font-weight:normal;
    font-size:20px;
    display:inline-block;
    transform: translateY(1px);
}

.h-tab-panel-category .small-title .icon-icon_picture{
    background-image: linear-gradient(180deg, #35B6FF 0%, #0A89FF 100%);
}
.h-tab-panel-category .small-title .icon-icon_newmedia{
    background-image: linear-gradient(180deg, #A46DFF 0%, #8067FF 100%);
}
.h-tab-panel-category .small-title .icon-icon_ad{
    background-image: linear-gradient(180deg, #FBB024 0%, #FD991C 100%);
}
.h-tab-panel-category .small-title .icon-icon_dianshang{
    background-image: linear-gradient(180deg, #FF7E62 0%, #FF5353 100%);
}
.h-tab-panel-category .small-title .icon-icon_logo{
    background-image: linear-gradient(180deg, #35B6FF 0%, #0A89FF 100%);
}
.h-tab-panel-category .small-title .icon-icon_gif{
    background-image: linear-gradient(180deg, #FBB024 0%, #FD991C 100%);
}
.h-tab-panel-category .small-title .icon-icon_video{
    background-image: linear-gradient(180deg, #A46DFF 0%, #8067FF 100%);
}
.h-tab-panel-category .small-title .icon-icon_photograph{
    background-image: linear-gradient(180deg, #43DFBA 0%, #0FC79B 100%), linear-gradient(180deg, #FBB024 0%, #FD991C 100%);
}

.h-tab-panel-category .small-list{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
    background: #FFF;
    margin-right:-6px;
}

.h-tab-panel-category .small-list{
    padding-right:10px;
}

.h-tab-panel-category .small-list .small-list-item{
    padding-right:6px;
    margin:5px 6px 5px 0;
    color: #6F7C97;
    font-size: 12px;
    white-space: nowrap;
    cursor:pointer;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 2px;
    border-right:1px solid #F1F3F5;
}

.h-tab-panel-category .small-list .small-list-item a{
    color:currentColor;
}

.h-tab-panel-category .small-list .small-list-item:last-child{
    border-right:none;
}

.h-tab-panel-category .small-list .small-list-item.active,
.h-tab-panel-category .small-list .small-list-item:hover{
    color: #0057FF;
}

.h-tab-panel-use .use-item,
.h-tab-panel-industry .industry-item{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding:20px 0;
    border-bottom:1px solid  #F1F3F5;
}
.h-tab-panel-use .small-title,
.h-tab-panel-industry .small-title{
    color: #243054;
    font-size: 16px;
    font-weight:bold;
    min-width:100px;
    margin-top:2px;
}

.h-tab-panel-use .small-list,
.h-tab-panel-industry .small-list{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
    background: #FFF;
    margin-right:-6px;
}

.h-tab-panel-use .small-list .small-list-item,
.h-tab-panel-industry .small-list .small-list-item{
    padding-right:6px;
    margin:5px 6px 5px 0;
    color: #6F7C97;
    font-size: 12px;
    white-space: nowrap;
    cursor:pointer;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 2px;
    border-right:1px solid #F1F3F5;
}
.h-tab-panel-use .small-list .small-list-item:last-child,
.h-tab-panel-industry .small-list .small-list-item:last-child{
    border-right:none;
}

.h-tab-panel-use .small-list .small-list-item.active,
.h-tab-panel-use .small-list .small-list-item:hover,
.h-tab-panel-industry .small-list .small-list-item.active,
.h-tab-panel-industry .small-list .small-list-item:hover{
    color: #0057FF;
}

.h-tab-panel-tool .tool-item-design{
    margin:35px 0;
}
.h-tab-panel-tool .small-title{
    font-size: 20px;
    color: #243054;
    font-weight:bold;
    margin-bottom:20px;
}

.h-tab-panel-tool .tool-item-design .small-list,
.h-tab-panel-tool .tool-item-mobile .small-list{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.h-tab-panel-tool .tool-item-design .small-list .small-list-item{
    margin-right:20px;
    width:180px;
    height:80px;
    border-radius:4px;
    padding-top:29px;
    padding-left:20px;
    background: tan;
}

.h-tab-panel-tool .tool-item-mobile .small-list .small-list-item{
    width:180px;
    height:224px;
    margin-right:20px;
}

.h-tab-panel-tool .tool-item-design .small-list .small-list-item:first-child{
    background: url("../images/caijian.png") center no-repeat;
    background-size:cover;
}
.h-tab-panel-tool .tool-item-design .small-list .small-list-item:nth-child(2){
    background: url("../images/koutu.png") center no-repeat;
    background-size:cover;
}

.h-tab-panel-tool .tool-item-mobile .small-list .small-list-item:first-child{
    background: url("../images/douyin.png") center no-repeat;
    background-size:cover;
}

.h-tab-panel-tool .tool-item-mobile .small-list .small-list-item:nth-child(2){
    background: url("../images/douyin.png") center no-repeat;
    background-size:cover;
}

.h-tab-panel-tool .tool-item-mobile .small-list .small-list-item:nth-child(3){
    background: url("../images/douyin.png") center no-repeat;
    background-size:cover;
}
.h-template-popover.active,
.h-tool-popover.active,
.h-more-popover.active,
.h-enterprise-popover.active,
.h-personal-popover.active{
    display:block;
}
.h-template-center:hover .h-template-popover,
.h-tool:hover .h-tool-popover,
.h-more:hover .h-more-popover,
.h-enterprise-vip:hover .h-enterprise-popover,
.h-personal-vip:hover .h-personal-popover{
    display:block;
}
.h-tool-popover{
    position:absolute;
    display:none;
    z-index:10;
    top:100%;
    left:50%;
    transform: translate(-50%,-10px);
    color:rgba(23, 23, 24, 0.8);
    background: #FFF;
    width:110px;
    box-shadow: 0 8px 15px rgba(47, 63, 95, 0.1);
    padding:10px 0;
}

.h-tool-popover .tool-item{
    white-space: nowrap;
    height:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(23, 23, 24, 0.8);
    width:100%;
}
.h-tool-popover .tool-item:hover{
    background: #F6F7F9;
    color: #0057FF;
}
.h-more-popover{
    position:absolute;
    display:none;
    z-index:10;
    top:100%;
    left:50%;
    transform: translate(-50%,-10px);
    width:110px;
    background:#FFF;
    box-shadow: 0 8px 15px rgba(47, 63, 95, 0.1);
    padding:10px 0;
}
.h-more-popover .more-item{
    white-space: nowrap;
    height:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(23, 23, 24, 0.8);
    width:100%;
}

.h-more-popover .more-item:hover{
    background: #F6F7F9;
    color: #0057FF;
}

