@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th { margin: 0; padding: 0; outline: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
::selection { background: #ff6600; color: #FFF; }
::-moz-selection { background: #ff6600; color: #FFF; }
*:after, *:before { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; text-rendering: optimizeLegibility; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
a:hover, a:active { outline: 0; }
ul, ol, li { list-style: none; }
img { width: auto\9; height: auto; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;  }
html, body { -webkit-user-select: none; font-size: 62.5%; /* 禁止选中文本（如无文本选中需求，此为必选项） */ user-select: none; }
body { width: 100%; -webkit-text-size-adjust: none; font-size: 1.2rem; font: 12px/1.2 'Helvetica Neue','Microsoft Yahei',AppleGothic, Helvetica, STHeiTi, sans-serif; line-height: 160%; color: #333; font-weight:lighter; }
*:link, *:visited, *:hover, *:active, *:focus { transition: color .20s linear,background-color .20s linear,border-color .20s linear; }
a { color: #333; text-decoration: none; outline: none; -webkit-touch-callout: none; }
a:hover { color: #3300cc; text-decoration: none; }
/*缺省结束*/


.logo{ width:200px; height:54px; background:url(../images/logo.png) no-repeat; position:absolute; top:40px; left:3%; z-index:999; }


.phone_head{ position:absolute; top:37px; font-size:16px; font-weight:bold; color:#99ffcc; z-index:12; right:3%; }
.phone_head img{ display:inline-block; margin-right:15px; }
.phone_head a{ color:#99ffcc; margin-left:10px; }
