a{
    position: relative;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #27022d;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    overflow: hidden;
    transition: all 0.5s;
}
a:hover{
    background-color: #ff3c7f;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    /**/
    zoom: 150%;
    margin-top: -15%;
}
a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transform: skew(-45deg);/* 斜切效果 */
}
a:hover::before{
    left: 120%;
    transition: all 0.5s;
}