@charset "utf-8";

*{margin:0;padding:0;list-style-type:none;}
img{width:100%;}
body,html {width:100%;height:100%;min-width:1170px;}
label{ margin:0; padding:0;}
body {background-color:#fff;color:#333;font-family:Arial,微软雅黑,"Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,华文细黑,SimSun,宋体,Heiti,黑体,sans-serif;}

.icon {display:inline-block;vertical-align:text-bottom;background-image:url(../images/icon.png);background-repeat:no-repeat;width:20px;height:20px;}
.icon-footer {position:relative;width:40px;height:40px;}
.icon-footer-wx {background-position:-49px -105px;}
.icon-footer-ios {background-position:-111px -105px;}
.icon-footer-android {background-position:12px -185px;}
.icon-footer-inter {background-position:-48px -184px;}
.icon-footer-rss {background-position:-109px -185px;}
.icon-footer-wx:hover {background-position:-50px -145px;}
.icon-footer-ios:hover {background-position:-112px -145px;}
.icon-footer-android:hover {background-position:12px -226px;}
.icon-footer-inter:hover {background-position:-48px -225px;}
.icon-footer-rss:hover {background-position:-109px -226px;}

.footer{position:absolute;background-color:#2d3237;/* padding-top:5px; */width:100%;z-index:210;bottom:0;height: 68px;}
footer .copy-right {/* margin-top:35px; */position:relative;z-index:400;}
footer .footer-tag-list a {font-size:14px;margin-right:15px;}
footer .footer-icon-list {position:absolute;top: 15px;right:0;}
footer .footer-icon-list ul li {position:relative;float:left;width:40px;height:40px;background-color:#343a40;text-align:center;border-radius:20px;margin-left:20px;}
footer .footer-icon-list ul li:before {content:"";position:absolute;z-index:0;width:40px;height:40px;border-radius:50%;opacity:0;-webkit-transition:.5s cubic-bezier(.3,0,0,1.3);-moz-transition:.5s cubic-bezier(.3,0,0,1.3);-ms-transition:.5s cubic-bezier(.3,0,0,1.3);-o-transition:.5s cubic-bezier(.3,0,0,1.3);transition:.5s cubic-bezier(.3,0,0,1.3);-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-ms-transform:scale(0,0);-o-transform:scale(0,0);transform:scale(0,0);}
footer .footer-icon-list ul a:nth-child(3) li:before {background-color:#7b8894;}
footer .footer-icon-list ul a:nth-child(4) li:before {background-color:#93e64f;}
footer .footer-icon-list ul a:nth-child(6) li:before {background-color:#ff9000;}
footer .footer-icon-list .app-qrcode {display:none;position:absolute;width:130px;height:130px;margin-top:-141px;box-shadow:0 0 6px rgba(14,22,30,.3);margin-left:-45px;}footer .footer-bull {position:relative;font-size:20px;top:2px;margin:0 15px;}
footer .bull-em {font-style:normal;margin-left:15px;}
footer .footer-icon-list .app-qrcode:before {content:'';display:block;position:absolute;width:0;height:0;border:8px solid transparent;border-top:10px solid rgba(0,0,0,.3);top:130px;left:56px;}
footer .footer-icon-list .app-qrcode:after {content:'';display:block;position:absolute;width:0;height:0;border:8px solid transparent;border-top:10px solid #fff;top:129px;left:57px;}
footer .footer-icon-list ul li:hover:before {opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);}
footer .footer-icon-list ul a:nth-child(1) li:before {background-color:#f74864;}
footer .footer-icon-list ul a:nth-child(2) li:before{background-color:#1ec354;}
footer .footer-icon-list ul a:nth-child(5) li:before {background-color:#3091f4;}