body {
    background: #222d32;
}

.wrapperan {
    margin: 0 auto;
    width: 54px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 55;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.preloaderer {
    position: relative;
    margin: auto;
    width: 40px;
    height: 40px;
}

.preloaderer span {
    display: block;
    bottom: 0px;
    width: 20px;
    height: 20px;
    background: #9b59b6;
    position: absolute;
}

.preloaderer span:nth-child(1) {
    -webkit-animation: preloaderer_1 1.5s infinite ease-in-out;
    -moz-animation: preloaderer_1 1.5s infinite ease-in-out;
    -ms-animation: preloaderer_1 1.5s infinite ease-in-out;
    animation: preloaderer_1 1.5s infinite ease-in-out;
}

.preloaderer span:nth-child(2) {
    left: 20px;
    -webkit-animation: preloaderer_2 1.5s infinite ease-in-out;
    -moz-animation: preloaderer_2 1.5s infinite ease-in-out;
    -ms-animation: preloaderer_2 1.5s infinite ease-in-out;
    animation: preloaderer_2 1.5s infinite ease-in-out;
}

.preloaderer span:nth-child(3) {
    top: 0px;
    -webkit-animation: preloaderer_3 1.5s infinite ease-in-out;
    -moz-animation: preloaderer_3 1.5s infinite ease-in-out;
    -ms-animation: preloaderer_3 1.5s infinite ease-in-out;
    animation: preloaderer_3 1.5s infinite ease-in-out;
}

.preloaderer span:nth-child(4) {
    top: 0px;
    left: 20px;
    -webkit-animation: preloaderer_4 1.5s infinite ease-in-out;
    -moz-animation: preloaderer_4 1.5s infinite ease-in-out;
    -ms-animation: preloaderer_4 1.5s infinite ease-in-out;
    animation: preloaderer_4 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloaderer_1 {
    0% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
        border-radius: 20px;
        background: #3498db;
    }
    80% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-webkit-keyframes preloaderer_2 {
    0% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
        border-radius: 20px;
        background: #f1c40f;
    }
    80% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-webkit-keyframes preloaderer_3 {
    0% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
        border-radius: 20px;
        background: #2ecc71;
    }
    80% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-webkit-keyframes preloaderer_4 {
    0% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
        border-radius: 20px;
        background: #e74c3c;
    }
    80% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-moz-keyframes preloaderer_1 {
    0% {
        -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -moz-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
        border-radius: 20px;
        background: #3498db;
    }
    80% {
        -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-moz-keyframes preloaderer_2 {
    0% {
        -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -moz-transform: translateX(20px) translateY(-10px) rotate(180deg);
        border-radius: 20px;
        background: #f1c40f;
    }
    80% {
        -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-moz-keyframes preloaderer_3 {
    0% {
        -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -moz-transform: translateX(-20px) translateY(10px) rotate(-180deg);
        border-radius: 20px;
        background: #2ecc71;
    }
    80% {
        -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -moz-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-moz-keyframes preloaderer_4 {
    0% {
        -moz-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -moz-transform: translateX(20px) translateY(10px) rotate(180deg);
        border-radius: 20px;
        background: #e74c3c;
    }
    80% {
        -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -moz-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-ms-keyframes preloaderer_1 {
    0% {
        -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -ms-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
        border-radius: 20px;
        background: #3498db;
    }
    80% {
        -ms-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -ms-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-ms-keyframes preloaderer_2 {
    0% {
        -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -ms-transform: translateX(20px) translateY(-10px) rotate(180deg);
        border-radius: 20px;
        background: #f1c40f;
    }
    80% {
        -ms-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -ms-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-ms-keyframes preloaderer_3 {
    0% {
        -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -ms-transform: translateX(-20px) translateY(10px) rotate(-180deg);
        border-radius: 20px;
        background: #2ecc71;
    }
    80% {
        -ms-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -ms-transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-ms-keyframes preloaderer_4 {
    0% {
        -ms-transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -ms-transform: translateX(20px) translateY(10px) rotate(180deg);
        border-radius: 20px;
        background: #e74c3c;
    }
    80% {
        -ms-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -ms-transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-keyframes preloaderer_1 {
    0% {
        -transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -transform: translateX(-20px) translateY(-10px) rotate(-180deg);
        border-radius: 20px;
        background: #3498db;
    }
    80% {
        -transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-keyframes preloaderer_2 {
    0% {
        -transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -transform: translateX(20px) translateY(-10px) rotate(180deg);
        border-radius: 20px;
        background: #f1c40f;
    }
    80% {
        -transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}

@-keyframes preloaderer_3 {
    0% {
        -transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -transform: translateX(-20px) translateY(10px) rotate(-180deg);
        border-radius: 20px;
        background: #2ecc71;
    }
    80% {
        -transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
    100% {
        -transform: translateX(0px) translateY(0px) rotate(-360deg);
        border-radius: 0px;
    }
}

@-keyframes preloaderer_4 {
    0% {
        -transform: translateX(0px) translateY(0px) rotate(0deg);
        border-radius: 0px;
    }
    50% {
        -transform: translateX(20px) translateY(10px) rotate(180deg);
        border-radius: 20px;
        background: #e74c3c;
    }
    80% {
        -transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
    100% {
        -transform: translateX(0px) translateY(0px) rotate(360deg);
        border-radius: 0px;
    }
}