.animation {
    position: fixed;
    /* absolute */
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    background-image: url('https://previews.customer.envatousercontent.com/files/436917488/img/43.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}