body {
    background: #222;
}

figure {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    width: 6.250em;
    height: 6.250em;
    animation: rotatent 2.4s linear infinite;
}

.whitedot {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    animation: flashnt 2.4s linear infinite;
    opacity: 0;
}

.dotnt {
    position: absolute;
    margin: auto;
    width: 2.4em;
    height: 2.4em;
    border-radius: 100%;
    transition: all 1s ease;
}

.dotnt:nth-child(2) {
    top: 0;
    bottom: 0;
    left: 0;
    background: #FF4444;
    animation: dotntsY 2.4s linear infinite;
}

.dotnt:nth-child(3) {
    left: 0;
    right: 0;
    top: 0;
    background: #FFBB33;
    animation: dotntsX 2.4s linear infinite;
}

.dotnt:nth-child(4) {
    top: 0;
    bottom: 0;
    right: 0;
    background: #99CC00;
    animation: dotntsY 2.4s linear infinite;
}

.dotnt:nth-child(5) {
    left: 0;
    right: 0;
    bottom: 0;
    background: #33B5E5;
    animation: dotntsX 2.4s linear infinite;
}

@keyframes rotatent {
    0% {
        transform: rotate( 0);
    }
    10% {
        width: 6.250em;
        height: 6.250em;
    }
    66% {
        width: 2.4em;
        height: 2.4em;
    }
    100% {
        transform: rotate(360deg);
        width: 6.250em;
        height: 6.250em;
    }
}

@keyframes dotntsY {
    66% {
        opacity: .1;
        width: 2.4em;
    }
    77% {
        opacity: 1;
        width: 0;
    }
}

@keyframes dotntsX {
    66% {
        opacity: .1;
        height: 2.4em;
    }
    77% {
        opacity: 1;
        height: 0;
    }
}

@keyframes flashnt {
    33% {
        opacity: 0;
        border-radius: 0%;
    }
    55% {
        opacity: .6;
        border-radius: 100%;
    }
    66% {
        opacity: 0;
    }
}