.nav{
    z-index: 9999999999;
    position: absolute;
}

.nav_ul>li:nth-child(5)>a {
    background: rgb(220, 174, 88);
    font-size: 4vh;
    color: #fff;
    font-weight: bold;
}

.box_h2 {
    position: absolute;
    background: rgb(69, 69, 136);
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    /* padding-left: 20vh; */
    z-index: 9999999;
    border-bottom: 1vh solid #fff;
    margin-top: 8vh;
}

.box_h2>p>i {
    color: #fff;
    font-family: liuti, "楷体";
    font-size: 1.8em;
    margin-left: 20vh;
}

.pic_bg {
    opacity: 0.9;
    z-index: -1;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background: yellowgreen; */
    /* background-image: url(../images/bg/updatepwdbg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */

}

.box {
    background: transparent;
    position: absolute;
    width: 100vh;
    height: 60vh;
    margin-top: 18vh;
    display: flex;
    justify-content: center;
}

.box_form>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

.box_form>ul>li {
    list-style: disc;
    color: #fff;
    width: 100%;
    font-size: 5vh;
}

.box_form>ul>li>p {
    font-family: liuti, "楷体";
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
    margin-bottom: 2vh;
}

.box_form>ul>li>input {
    width: 90vh;
    padding: 2vh;
    border: 1px solid #000;
    box-shadow: 1px 1px 8px #fff;
    outline: none;
}

.box_form>p>.btn {
    font-family: liuti, "楷体";
    background: orange;
    border: 1px solid #000;
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-size: 1em;
    margin-top: 5vh;
    transition: all 0.8s;
}

.box_form>p>.btn:hover {
    cursor: pointer;
    background: #005983;
}

.box_form>ul>li>span {
    color: red;
    font-family: liuti, "楷体";
    font-size: 0.6em;
    position: absolute;
    margin-top: 3vh;
    right: 0;
    margin-right: 10vh;
}