body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
}
ul{
	list-style: none;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.box{
	width: 300px;
	margin:20px auto;
	background-color: #fff;
}
.box ul li h2{
	position: relative;
	height: 40px;
	width: 100%;
	padding:0 15px;
	box-sizing: border-box;
	line-height: 40px;
	border-bottom:1px solid #ccc;
	color:#333;
	font-size: 16px;
}
.box ul li h2 span{
	position: absolute;
	top:15px;
	right: 15px;
	display: block;
	width: 10px;
	height:10px;
	border-top:2px solid #666;
	border-right:2px solid #666;
	transform: rotate(45deg);
	transition: .8s;
}
.box ul li.cur h2 span{
	transform: rotate(135deg);
}
.box ul li div{
	display: none;
	line-height: 22px;
	color:#555;
	overflow: hidden;
}
.box ul li p{
	padding:15px;
}
.box ul li.cur div{
