/*底部*/
.qwFooter{
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	border-top:1px solid rgba(238,238,238,1);
	background: #fff;
}
.qwFooter div{
	width: 25%;
	text-align: center;
	padding: .15rem 0;
}
.qwFooter div img{
	/*width: .36rem;*/
	height: .44rem;
}
.qwFooter div p{
	font-size:.14rem;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:rgba(68,68,68,1);
	margin: 0 !important;
	padding-top: .1rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size:.26rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(170,170,170,1);
}

input:-moz-placeholder, textarea:-moz-placeholder {
  font-size:.26rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(170,170,170,1);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size:.26rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(170,170,170,1);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size:.26rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(170,170,170,1);
  font-weight: normal;
}