@charset "utf-8";
ul{list-style:none}
ul{margin:0;padding:0}
 /*登陆弹窗*/




 .modal-header{border-bottom: 0;padding:15px 0;}
#loginModal .modal-dialog{width:1150px;height:710px}
#loginModal .modal-content{border-radius:5px}
#loginModal .col-left{width:480px;height:710px;float:left;color:#b2b2b2;padding:30px 60px;border-radius:5px 0 0 5px；}
#loginModal .col-right{width:670px;height:710px;float:left;background:url(../images/login/191022__login.png) no-repeat;border-radius:0 5px 5px 0}
#loginModal #login_close{position:absolute;top:10px;right:20px;font-size:32px}
#loginModal .col-left .nav li{float:left}
#loginModal .col-left .nav li a{font-size:30px;color:#323232}
#loginModal .col-left .nav li.active{border-bottom:solid 1px #333}
#loginModal .form-group{position:relative;margin-bottom:0;}
#loginModal .form-group i{position:absolute;display:block;width:20px;height:20px;top:27px;right:5px;pointer-events:none;font-size:18px}
#loginModal .form-group .captcha__sms{position:absolute;top:25px;right:10px;color:#555}
#loginModal #reg_account_yzm{padding-right:100px}
.v5-input-txt .form-control{height:70px;line-height:normal;padding-bottom:10px;padding-top:30px;outline:0;border:none;box-shadow:none;font-size:16px;border:1px solid #e9ebf2; position: relative;}
.email{position: absolute;left:15px; top:3px; font-size:18px; color:#393939;}
.v5-input-txt .form-control:focus{outline:0;border-left:3px solid #4164e3;box-shadow:none}
#loginModal .or_title{height:35px;font-size: 20px;color: #323232; line-height: 25px}
#loginModal .modal-body{height:395px;padding:20px 0}
#loginModal .tab-content{padding-left:0}
#loginModal .tips-error{padding:2px 10px;margin-top:10px}
#loginModal .globalLogin,#loginModal .globalRegister{width:110px;height:40px;float:left;margin-right:20px; margin-top: 30px; background-color: #3751fe; border-radius: 6px; font-size:24px;color: #fff; line-height:26px;}
#loginModal .globalLogin:focus,#loginModal .globalRegister:focus{outline:0}
#loginModal .globalRegister .zc{ background-color: #ffffff;border:2px solid #3751fe;}
#loginModal .threeLogin{position:absolute;left:0;bottom:15px}
#loginModal .threeLogin span{color:#797979;float:left;font-size:14px;line-height: 32px;}
#loginModal .threeLogin a{display:inline-block;width:30px;height:30px;background:url(../images/login/login_img.png) no-repeat;vertical-align:middle;margin-left:15px;cursor:pointer}
#loginModal .threeLogin .nqq{background-position:0 0}
#loginModal .threeLogin .nqq:hover{background-position:0 0}
#loginModal .threeLogin .nwx{background-position:-30px 0}
#loginModal .threeLogin .nwx:hover{background-position:-30px 0}
#loginModal .good-tips{text-align:right}
#loginModal .good-tips a{color:#555;margin:0 5px;font-size:18px;}
#loginModal .col-left{background:url(../images/login/login_left.png) no-repeat;}

a{float: right;color: #797979;}
.fr{ margin-top:30px;}
h1{ font-size: 46px; color: #2d2d2d;}
h3{ font-size: 24px; color: #3751fe;text-decoration:underline; margin-bottom: 40px;}
.checkbox-custom {
    position: relative;
    padding: 0 15px 0 25px;
    margin-bottom: 7px;
    margin-top:30px;
    display: inline-block;
}
/*
将初始的checkbox的样式改变
*/
.checkbox-custom input[type="checkbox"] {
    opacity: 0;/*将初始的checkbox隐藏起来*/
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: -6px 0 0 0;
    top: 50%;
    left: 3px;
}
/*
设计新的checkbox，位置
*/
.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 19px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}
/*
点击初始的checkbox，将新的checkbox关联起来
*/
.checkbox-custom input[type="checkbox"]:checked +label:after {
    position: absolute;
    display: inline-block;
    font-family: fontawesome;
    content: "\f00c";
    top: 42%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}
.checkbox-custom label {
    cursor: pointer;
    line-height: 1.2;
    font-weight: normal;/*改变了rememberme的字体*/
    margin-bottom: 0;
    text-align: left;
    color:#797979;
}