@media screen {
    body {
        zoom: 150%;
    }
}

* {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.4);
}

@keyframes roate-loading {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}
.zong{
    /* margin: auto;
   margin-top: 5%; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
  

}
.loading {
    width: 80px;
    height: 80px;
    /* background: orange; */
    background: transparent;
    /* border: 6px solid aqua; */
    border: 6px dashed aqua;
    /* border-color: aqua red; */
    border-color: aqua transparent;
    animation: roate-loading 1.2s linear infinite;
    border-radius: 50%;
    /*  display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: auto;
    margin-top: 15%; */
    margin-left: 50px;
}

.loadings {
    width: 80px;
    height: 80px;
    background: transparent;
    border: 6px solid aqua;
    border-color: aqua red;
    animation: roate-loading 1.2s linear infinite;
    border-radius: 50%;
   /*  margin-left: 10%; */
}

.loadingss {
    width: 80px;
    height: 80px;
    background: transparent;
    border: 6px solid aqua;
    border-color: aqua transparent;
    animation: roate-loading 1.2s linear infinite;
    border-radius: 50%;
   /*  margin-left: 70%; */
   margin-left: 50px;
}