*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
@media screen and (min-width:751px) {
	.container{
		position: relative;
		overflow: hidden;
		width: 750px;
		height: 100%;
	}
}

@media screen and (max-width:751px) {
	.container{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
}
.default {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes yanhua_scale {
	0%,50%,100%{
		transform: scale(1);
		opacity: 1;
	}
	25%{
		transform: scale(.6);
		opacity: .3;
	}
	75%{
		transform: scale(1.5);		
		opacity: 1;
	}
}
@keyframes baozhu_scale {
	0%,50%,100%{
		transform: scale(1);
	}
	25%{
		transform: scale(.8);
	}
	75%{
		transform: scale(1.2);
	}
}
@keyframes denlon {
	0%,50%,100%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(10deg);
	}
	75%{
		transform: rotate(-5deg);
	}
}

@keyframes yinlue_rotate {
	0%{
		transform: rotate(0);
	}
	
	100%{
		transform: rotate(360deg);
	}
}
.yanhua {
	position: absolute;
	width: 10vw;
	animation: yanhua_scale 3s linear 0s infinite normal forwards;
}

.baozhu{
	position: absolute;	
	width: 10vw;
	animation: baozhu_scale 3s linear 0s infinite normal forwards;
}

.show {
	opacity: 1;
	transition: all 2s linear; 
}
.container_index{
		background-image: url(../images/index/bg.png);
		background-size: 100% 100%;
		flex-direction: column;	
		gap: 4vw;
}

.index_btn {
	position: absolute;
	background-image: url(../images/base/button.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: "微软雅黑";
	color: #ffe9be;
	font-size: 5vw;
	line-height: 14vw;
	padding: 4vw 11vw;
	bottom: 20vw;
	left: 50%;
	transform: translateX(-50%);
	animation: left_move 1s linear .5s 1 normal forwards;
}

.denglon {
	position: absolute;
	width: 20vw;
	transform-origin: top; 
	animation: denlon 4s linear 0s infinite normal forwards;
	z-index: 10;
}

.denlon_left {
	top: 17vw;
	left: 12vw;
	animation-delay: -2s;
}
.denlon_right {
	top: 60vw;
	right: 14vw;
}

.index_baozhu {
	right: 8vw;
	top: 120vw;
	width: 16vw;
}

.index_yanhua3 {
	top: 4vw;
}

.index_yanhua2 {
	left: 10vw;
	top: 100vw;
}
button {
	border: none;
	outline: none;
	background-color: transparent;
	
}
.yanhua1 {
	left: 10vw;
	top: 30vw;
	width: 14vw;
	animation-delay: -3s;
}
 
.yanhua4 {
	left: 20vw;
	top: 115vw;
	width: 13vw;
	animation-delay: -9s;
}

.yanhua5 {
	left: 80vw;
	top: 30vw;
	width: 12vw;
	animation-delay: -11s;
}
